<div class="p-grid">
    <div class="p-col-12">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Professeur</h1>
                    </div><!-- /.col -->
                    <div class="p-col-12 col-sm-6">
                        <div class="float-sm-right  p-text-right">
                            <h5 class="breadcrumb-item >"><a href="">Accueil</a>  /Professeur</h5>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openNew()"></button>
                    <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteSelectedProfesseurs()" [disabled]="!selectedprofesseus|| !selectedprofesseus.length"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-splitButton label="{{'Exporter'|translate}}" icon="pi pi-upload" [model]="items" styleClass="p-button-help p-mr-2 p-mb-2"></p-splitButton>
                </ng-template>
            </p-toolbar>




			<p-table #dt [value]="professeurs" [(selection)]="selectedProfesseurs" dataKey="id"

            currentPageReportTemplate="Vue du {first} au {last} sur {totalRecords} professeurs" [showCurrentPageReport]="true"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
					 [filterDelay]="0" [globalFilterFields]="['nom','prenom','adresse','sexe','telephone',
                     'lieuNaissance','dateNaissance','nationalite']">
				<ng-template pTemplate="caption">
					<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
						Liste des professeurs
						<span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
						   placeholder="Recherche globale ..."/>
                </span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="width: 3rem">
							<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
						</th>
                        <th pSortableColumn="nom">
                            <div class="p-d-flex p-ai-center">

                            Nom
                            <p-sortIcon field="nom"></p-sortIcon>
                            <p-columnFilter type="text" field="nom" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="prenom">
                            <div class="p-d-flex p-ai-center">

                            Prénoms
                            <p-sortIcon field="prenom"></p-sortIcon>
                            <p-columnFilter type="text" field="prenom" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>



                        <th pSortableColumn="sexe">
                            <div class="p-d-flex p-ai-center">

                           Sexe
                            <p-sortIcon field="sexe"></p-sortIcon>
                            <p-columnFilter type="text" field="sexe" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="adresse">
                            <div class="p-d-flex p-ai-center">

                           Adresse
                            <p-sortIcon field="adresse"></p-sortIcon>
                            <p-columnFilter type="text" field="adresse" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="telephone">
                            <div class="p-d-flex p-ai-center">

                            Téléphone
                            <p-sortIcon field="telephone"></p-sortIcon>
                            <p-columnFilter type="text" field="telephone" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="nationalite">
                            <div class="p-d-flex p-ai-center">

                            Nationalité
                            <p-sortIcon field="nationalite"></p-sortIcon>
                            <p-columnFilter type="text" field="nationalite" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>

						<th style="width: 8rem">Actions</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-professeur>
					<tr class="p-selectable-row">
						<td>
							<p-tableCheckbox [value]="professeur"></p-tableCheckbox>
						</td>
                        <td>
                            {{professeur.nom}}
                        </td>
                        <td>
                            {{professeur.prenom}}
                        </td>
                        <td>
                            {{professeur.sexe}}
                        </td>
                        <td>
                            {{professeur.adresse}}
                        </td>
                        <td>
                            {{professeur.telephone}}
                        </td>
                        <td>
                            {{professeur.nationalite}}
                        </td>


                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2 p-mb-2" (click)="editProfesseur(professeur)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-mr-2 p-mb-2" (click)="deleteProfesseur(professeur)"></button><br>
                            <button pButton pRipple label="Titulariser"  class="p-button-info p-mr-2 p-mb-2"  (click)="editTitulaire(professeur)" *ngIf="professeur.etat != 1 " ></button>
                        </td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr >
						<td  colspan="8" style="text-align: center;">Pas de professeurs trouvés.</td>
					</tr>
				</ng-template>
			</p-table>
        </div>

        <p-dialog [(visible)]="professeurDialog"  [style]="{width: '450px'}" header="Les informations du professeur" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                    <div class="p-field">
                        <label for="nom">Nom</label>
                        <input type="text"
                        #nom="ngModel"
                        [ngClass]="(nom.invalid && (nom.dirty || nom.touched))&&
                        nom.errors?.required? 'ng-dirty ng-invalid alert':''"
                        pInputText
                        id="nom"
                        [(ngModel)]="professeur.nom" (ngModelChange)="verification()"
                        required  />
                        <small class="ng-dirty ng-invalid invalidField" *ngIf="nom.invalid && (nom.dirty || nom.touched)"
                        >Le nom est requis.</small>
                    </div>

                    <div class="p-field">
                        <label for="prenom">Prénoms</label>
                        <input type="text"
                        #prenom="ngModel"
                        [ngClass]="(prenom.invalid && (prenom.dirty || prenom.touched))&&
                        prenom.errors?.required? 'ng-dirty ng-invalid alert':''"
                        pInputText
                        id="prenom"
                        [(ngModel)]="professeur.prenom" (ngModelChange)="verification()"
                        required  />
                        <small class="ng-dirty ng-invalid invalidField" *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)"
                        >Le prénom est requis.</small>
                    </div>


                <div class="p-field ">
                    <label for="sexe">Sexe</label>
                    <br />
                    <br />

                    <div class="p-grid">
                        <div class="p-col-12 p-md-6">
                            <div class="p-field-radiobutton">
                                <p-radioButton name="sexe" value="masculin"  id="sexe1"
                                 [(ngModel)]="professeur.sexe" ></p-radioButton>
                                <label for="sexe1">Masculin</label>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6">
                            <div class="p-field-radiobutton">
                                <p-radioButton name="sexe" value="féminin"  id="sexe2"
                                [(ngModel)]="professeur.sexe" ></p-radioButton>
                                <label for="sexe2">Féminin</label>
                            </div>
                        </div>
                    </div>
                </div>


                    <div class="p-field">
                        <label for="lieuNaissance">Lieu de naissance</label>
                        <input type="text"
                        #lieuNaissance="ngModel"
                        [ngClass]="(lieuNaissance.invalid && (lieuNaissance.dirty || lieuNaissance.touched))&&
                        lieuNaissance.errors?.required? 'ng-dirty ng-invalid alert':''"
                        pInputText
                        id="lieuNaissance"
                        [(ngModel)]="professeur.lieuNaissance" (ngModelChange)="verification()"
                        required  />
                        <small class="ng-dirty ng-invalid invalidField" *ngIf="lieuNaissance.invalid &&
                        (lieuNaissance.dirty || lieuNaissance.touched)"
                        >Le lieu de naissance est requis.</small>
                    </div>

                    <div class="p-field">

                        <label for="dateNaissance">Date de naissance</label>
                        <p-calendar
                        #dateNaissance="ngModel"
                        appendTo='body'

                         [ngClass]="(dateNaissance.invalid && (dateNaissance.dirty || dateNaissance.touched))&&
                         dateNaissance.errors?.required? 'ng-dirty ng-invalid ':''"
                         [showIcon]="true"
                          inputId="icon"
                         id="dateNaissance"
                         [(ngModel)]="professeur.dateNaissance"
                          (ngModelChange)="verification()"
                         required  showButtonBar="true"
                         ></p-calendar>

                         <small class="ng-dirty ng-invalid invalidField" *ngIf="dateNaissance.invalid &&
                         (dateNaissance.dirty || dateNaissance.touched)">La date de naissance est requise.</small>

                    </div>

                    <div class="p-field">
                        <label for="adresse">Adresse</label>
                        <input type="text"
                        #adresse="ngModel"
                        [ngClass]="(adresse.invalid && (adresse.dirty || adresse.touched))&&
                        adresse.errors?.required? 'ng-dirty ng-invalid alert':''"
                        pInputText
                        id="adresse"
                        [(ngModel)]="professeur.adresse" (ngModelChange)="verification()"
                        required  />
                        <small class="ng-dirty ng-invalid invalidField" *ngIf="adresse.invalid && (adresse.dirty || adresse.touched)"
                        >L'adresse est requise.</small>
                    </div>

                    <div class="p-field">
                        <label for="nationalite">Nationalité</label>
                        <p-dropdown [options]="types"
                        placeholder="Choisir la nationalité" [showClear]="true"
                        appendTo='body'


                      #nationalite="ngModel"
                      [ngClass]="(nationalite.invalid && (nationalite.dirty || nationalite.touched))&&
                      nationalite.errors?.required? 'ng-dirty ng-invalid alert':''"

                      id="nationalite"
                      [(ngModel)]="professeur.nationalite" (ngModelChange)="verification()"
                      required >
			        </p-dropdown>

                        <small class="ng-dirty ng-invalid invalidField" *ngIf="nationalite.invalid && (nationalite.dirty || nationalite.touched)"
                        >La nationalité est requise.</small>
                    </div>

                    <div class="p-field">
                        <label for="telephone">Téléphone</label>
                        <input type="text"
                        #telephone="ngModel"
                        [ngClass]="(telephone.invalid && (telephone.dirty || telephone.touched))&&
                        telephone.errors?.required? 'ng-dirty ng-invalid alert':''"
                        pInputText
                        id="telephone"
                        [(ngModel)]="professeur.telephone" (ngModelChange)="verification()"
                        required  />
                        <small class="ng-dirty ng-invalid invalidField" *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)"
                        >Le numéro de téléphone est requis.</small>
                    </div>




            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" [disabled]="disable" (click)="saveProfesseur()"></button>
            </ng-template>
        </p-dialog>


        <p-dialog [(visible)]="titulaireDialog" [style]="{width: '450px'}" header="Les informations du titulaire" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">


                <div class="p-field ">
                    <label for="nom">Nom du professeur</label>
                    <input  type="text"
                    #nom="ngModel"
                    [ngClass]="(nom.invalid && (nom.dirty || nom.touched))&&
                    nom.errors?.required? 'ng-dirty ng-invalid alert':''"
                    pInputText
                    id="nom"
                    [(ngModel)]="professeur.nom" (ngModelChange)="verification1()"
                    required   [disabled]="true" />

                    <small class="ng-dirty ng-invalid invalidField" *ngIf="nom.invalid && (nom.dirty || nom.touched)"
                    >Le nom est requis.</small>
                </div>

                <div class="p-field ">
                    <label for="prenom">Prénoms du professeur</label>
                    <input  type="text"
                    #prenom="ngModel"
                    [ngClass]="(prenom.invalid && (prenom.dirty || prenom.touched))&&
                    prenom.errors?.required? 'ng-dirty ng-invalid alert':''"
                    pInputText
                    id="prenom"
                    [(ngModel)]="professeur.prenom" (ngModelChange)="verification1()"
                    required   [disabled]="true" />

                    <small class="ng-dirty ng-invalid invalidField" *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)"
                    >Le prénom est requis.</small>
                </div>


                    <div class="p-field">
                        <label for="classe">Classe</label>
                        <p-dropdown [options]="classes"
                        placeholder="Choisir la classe" [showClear]="true"
                        appendTo='body'


                      #classe="ngModel"
                      [ngClass]="(classe.invalid && (classe.dirty || classe.touched))&&
                      classe.errors?.required? 'ng-dirty ng-invalid alert':''"

                      id="classe"
                      [(ngModel)]="titulaire.classe" (ngModelChange)="verification1()"
                      required >
			        </p-dropdown>


                        <small class="ng-dirty ng-invalid invalidField" *ngIf="classe.invalid && (classe.dirty || classe.touched)"
                        >La classe est requise.</small>
                    </div>

                    <div class="p-field">
                        <label for="annee">Année scolaire</label>
                        <p-dropdown [options]="an"
                        placeholder="Choisir l'année" [showClear]="true"
                        appendTo='body'


                      #annee="ngModel"
                      [ngClass]="(annee.invalid && (annee.dirty || annee.touched))&&
                      annee.errors?.required? 'ng-dirty ng-invalid alert':''"

                      id="annee"
                      [(ngModel)]="titulaire.annee" (ngModelChange)="verification1()"
                      required >
			        </p-dropdown>


                        <small class="ng-dirty ng-invalid invalidField" *ngIf="annee.invalid && (annee.dirty || annee.touched)"
                        >L'année est requise.</small>
                    </div>


            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog1()"></button>
                <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" [disabled]="disable" (click)="saveTitulaire()"></button>
            </ng-template>
        </p-dialog>



        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
