<div class="p-grid">
    <div class="p-col-12">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Elève</h1>
                    </div><!-- /.col -->
                    <div class="p-col-12 col-sm-6">
                        <div class="float-sm-right  p-text-right">
                            <h5 class="breadcrumb-item >"><a href="">Accueil</a>  /Elève</h5>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>



    </div>
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="p-mb-4">


                <ng-template pTemplate="right">
                    <p-splitButton label="{{'Exporter'|translate}}" icon="pi pi-upload" [model]="items" styleClass="p-button-help p-mr-2 p-mb-2"></p-splitButton>
                </ng-template>
            </p-toolbar>


			<p-table #dt [value]="eleves" [(selection)]="selectedEleves" dataKey="id"

            currentPageReportTemplate="Vue du {first} au {last} sur {totalRecords} élèves" [showCurrentPageReport]="true"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
					 [filterDelay]="0" [globalFilterFields]="['matricule','nom','prenom','sexe','adresse','nationalite','dateNaissance','lieuNaissance']">
				<ng-template pTemplate="caption">
					<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
						Liste des élèves
						<span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
						   placeholder="Recherche globale ..."/>
                </span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="width: 3rem">
							<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
						</th>
                        <th pSortableColumn="matricule">
                            <div class="p-d-flex p-ai-center">

                           Matricule
                            <p-sortIcon field="matricule"></p-sortIcon>
                            <p-columnFilter type="text" field="matricule" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>

                        <th>Image</th>

                        <th pSortableColumn="nom">
                            <div class="p-d-flex p-ai-center">

                           Nom
                            <p-sortIcon field="nom"></p-sortIcon>
                            <p-columnFilter type="text" field="nom" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="prenom">
                            <div class="p-d-flex p-ai-center">

                           Prénoms
                            <p-sortIcon field="prenom"></p-sortIcon>
                            <p-columnFilter type="text" field="prenom" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="sexe">
                            <div class="p-d-flex p-ai-center">

                           Sexe
                            <p-sortIcon field="sexe"></p-sortIcon>
                            <p-columnFilter type="text" field="sexe" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="dateNaissance">
                            <div class="p-d-flex p-ai-center">

                           Date de naissance
                            <p-sortIcon field="dateNaissance"></p-sortIcon>
                            <p-columnFilter type="date" field="dateNaissance" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="lieuNaissance">
                            <div class="p-d-flex p-ai-center">

                           Lieu de naissance
                            <p-sortIcon field="lieuNaissance"></p-sortIcon>
                            <p-columnFilter type="text" field="lieuNaissance" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="nationalite">
                            <div class="p-d-flex p-ai-center">

                           Nationalité
                            <p-sortIcon field="nationalite"></p-sortIcon>
                            <p-columnFilter type="text" field="nationalite" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="adresse">
                            <div class="p-d-flex p-ai-center">

                           Adresse
                            <p-sortIcon field="adresse"></p-sortIcon>
                            <p-columnFilter type="text" field="adresse" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>


						<th style="width: 8rem">Actions</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-eleve>
					<tr class="p-selectable-row">
						<td>
							<p-tableCheckbox [value]="eleve"></p-tableCheckbox>
						</td>
                        <td>
                            {{eleve.matricule}}
                        </td>

                        <td>
                            <img [src]="eleve.image"  width="80" class="p-shadow-4" />
                        </td>

                        <td>
                            {{eleve.nom}}
                        </td>
                        <td>
                            {{eleve.prenom}}
                        </td>
                        <td>
                            {{eleve.sexe}}
                        </td>
                        <td>
                            {{eleve.dateNaissance | date:'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{eleve.lieuNaissance}}
                        </td>
                        <td>
                            {{eleve.nationalite}}
                        </td>
                        <td>
                            {{eleve.adresse}}
                        </td>




                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editEleve(eleve)"></button>
                            <p-button label="Détails" styleClass="p-button-link p-mr-2"  (click)="eleveDetails(eleve.id)"></p-button>
                            <p-button label="Scolarité" styleClass="p-button-link  p-mr-2"  (click)="scolarite(eleve)"></p-button>
                        </td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr >
						<td  colspan="10" style="text-align: center;">Pas d'élèves trouvés.</td>
					</tr>
				</ng-template>
			</p-table>
        </div>

        <p-dialog [(visible)]="eleveDialog" [style]="{width: '600px'}" header="Les informations de l'élève" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-grid">
                    <div class="p-col-12">
                        <div class="card">

                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col-12 p-md-6">
                                <label for="nom">Nom</label>
                                <input  type="text"
                                #nom="ngModel"
                                [ngClass]="(nom.invalid && (nom.dirty || nom.touched))&&
                                nom.errors?.required? 'ng-dirty ng-invalid alert':''"
                                pInputText
                                id="nom"
                                [(ngModel)]="eleve.nom" (ngModelChange)="verification()"
                                required  />

                                <small class="ng-dirty ng-invalid invalidField" *ngIf="nom.invalid && (nom.dirty || nom.touched)"
                                >Le nom est requis.</small>
                            </div>



                            <div class="p-field p-col-12 p-md-6" >
                                <label for="prenom">prénoms</label>
                                <input  type="text"
                                #prenom="ngModel"
                                [ngClass]="(prenom.invalid && (prenom.dirty || prenom.touched))&&
                                prenom.errors?.required? 'ng-dirty ng-invalid alert':''"
                                pInputText
                                id="prenom"
                                [(ngModel)]="eleve.prenom" (ngModelChange)="verification()"
                                required  />

                                <small class="ng-dirty ng-invalid invalidField" *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)"
                                >Le prénom est requis.</small>
                            </div>

                            <div class="p-field p-col-12 p-md-6" >
                                <label for="nationalite">Nationalité</label>
                                <p-dropdown [options]="types"
                                    placeholder="Choisir la nationalité" [showClear]="true"

                                    #nationalite="ngModel"
                                    [ngClass]="(nationalite.invalid && (nationalite.dirty || nationalite.touched))&&
                                    nationalite.errors?.required? 'ng-dirty ng-invalid alert':''"

                                    id="nationalite"
                                    [(ngModel)]="eleve.nationalite" (ngModelChange)="verification()"
                                    required >
                                </p-dropdown>

                                <small class="ng-dirty ng-invalid invalidField" *ngIf="nationalite.invalid && (nationalite.dirty || nationalite.touched)"
                                >La nationalité est requise.</small>
                            </div>

                            <div class="p-field p-col-12 p-md-6">
                                <label for="sexe">Sexe</label>
                                <br />
                                <br />

                                <div class="p-grid">
                                    <div class="p-col-12 p-md-4">
                                        <div class="p-field-radiobutton">
                                            <p-radioButton name="sexe" value="masculin"  id="sexe1"
                                            [(ngModel)]="eleve.sexe"></p-radioButton>
                                            <label for="sexe1">Masculin</label>
                                        </div>
                                    </div>
                                    <div class="p-col-12 p-md-3">
                                        <div class="p-field-radiobutton">
                                            <p-radioButton name="sexe" value="féminin"  id="sexe2"
                                            [(ngModel)]="eleve.sexe"></p-radioButton>
                                            <label for="sexe2">Féminin</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="p-field p-col-12 p-md-6">
                                <label for="nomParent">Nom du parent</label>
                                <input type="text"
                                #nomParent="ngModel"
                                [ngClass]="(nomParent.invalid && (nomParent.dirty || nomParent.touched))&&
                                nomParent.errors?.required? 'ng-dirty ng-invalid alert':''"
                                pInputText
                                id="nomParent"
                                [(ngModel)]="eleve.nomParent" (ngModelChange)="verification()"
                                required  />

                                <small class="ng-dirty ng-invalid invalidField" *ngIf="nomParent.invalid && (nomParent.dirty || nomParent.touched)"
                                >Le nom du parent est requis.</small>
                            </div>


                            <div class="p-field p-col-12 p-md-6">
                                <label for="lieuNaissance">Lieu de naissance</label>
                                <input type="text"
                                #lieuNaissance="ngModel"
                                [ngClass]="(lieuNaissance.invalid && (lieuNaissance.dirty || lieuNaissance.touched))&&
                                lieuNaissance.errors?.required? 'ng-dirty ng-invalid alert':''"
                                pInputText
                                id="lieuNaissance"
                                [(ngModel)]="eleve.lieuNaissance" (ngModelChange)="verification()"
                                required  />

                                <small class="ng-dirty ng-invalid invalidField" *ngIf="lieuNaissance.invalid &&
                                (lieuNaissance.dirty || lieuNaissance.touched)"
                                >Le lieu de naissance est requis.</small>
                            </div>

                            <div class="p-field p-col-12 p-md-6">
                                <label for="prenomParent"> Prénoms du parent</label>
                                <input type="text"
                                #prenomParent="ngModel"
                                [ngClass]="(prenomParent.invalid && (prenomParent.dirty || prenomParent.touched))&&
                                prenomParent.errors?.required? 'ng-dirty ng-invalid alert':''"
                                pInputText
                                id="prenomParent"
                                [(ngModel)]="eleve.prenomParent" (ngModelChange)="verification()"
                                required  />

                                <small class="ng-dirty ng-invalid invalidField" *ngIf="prenomParent.invalid && (prenomParent.dirty || prenomParent.touched)"
                                >Le prénom du parent est requis.</small>
                            </div>

                            <div class="p-field p-col-12 p-md-6">
                                <label for="dateNaissance">Date de naissance</label>
                                <p-calendar
                                #dateNaissance="ngModel"
                                appendTo='body'

                                [ngClass]="(dateNaissance.invalid && (dateNaissance.dirty || dateNaissance.touched))&&
                                dateNaissance.errors?.required? 'ng-dirty ng-invalid ':''"
                                [showIcon]="true"
                                inputId="icon"
                                id="dateNaissance"
                                [(ngModel)]="eleve.dateNaissance"
                                (ngModelChange)="verification()"
                                required  showButtonBar="true"
                                ></p-calendar>

                                <small class="ng-dirty ng-invalid invalidField" *ngIf="dateNaissance.invalid &&
                                (dateNaissance.dirty || dateNaissance.touched)">La date de naissance est requise.</small>
                            </div>

                            <div class="p-field p-col-12 p-md-6">
                                <label for="professionParent">Profession du parent</label>
                                <input type="text"
                                #professionParent="ngModel"
                                [ngClass]="(professionParent.invalid && (professionParent.dirty || professionParent.touched))&&
                                professionParent.errors? 'ng-dirty ng-invalid alert':''"
                                pInputText
                                id="professionParent"
                                [(ngModel)]="eleve.professionParent" (ngModelChange)="verification()"
                                 />
                            </div>

                            <div class="p-field p-col-12 p-md-6">
                                <label for="adresse">Adresse</label>
                                <input type="text"
                                    #adresse="ngModel"
                                    [ngClass]="(adresse.invalid && (adresse.dirty || adresse.touched))&&
                                    adresse.errors?.required? 'ng-dirty ng-invalid alert':''"
                                    pInputText
                                    id="adresse"
                                    [(ngModel)]="eleve.adresse" (ngModelChange)="verification()"
                                    required  />
                                    <small class="ng-dirty ng-invalid invalidField" *ngIf="adresse.invalid && (adresse.dirty || adresse.touched)"
                                    >L'adresse est requise.</small>
                            </div>

                            <div class="p-field p-col-12 p-md-6">
                                <label for="adresseParent">Adresse du parent</label>
                                <input type="text"
                                #adresseParent="ngModel"
                                [ngClass]="(adresseParent.invalid && (adresseParent.dirty || adresseParent.touched))&&
                                adresseParent.errors? 'ng-dirty ng-invalid alert':''"
                                pInputText
                                id="adresseParent"
                                [(ngModel)]="eleve.adresseParent" (ngModelChange)="verification()"
                                 />
                            </div>


                            <div class="p-field p-col-12 p-md-6">
                                <label for="telephoneParent">Téléphone du parent</label>
                                <input type="text"
                                #telephoneParent="ngModel"
                                [ngClass]="(telephoneParent.invalid && (telephoneParent.dirty || telephoneParent.touched))&&
                                telephoneParent.errors? 'ng-dirty ng-invalid alert':''"
                                pInputText
                                id="telephoneParent"
                                [(ngModel)]="eleve.telephoneParent" (ngModelChange)="verification()"
                                 />
                            </div>

                            <div class="p-field p-col-12 ">
                                <label for="image">Image</label>

                                    <input pInputText id="select"

                                     type="file" accept="image/*"
                                    (change)="selectFile($event)">

                            </div>

                            <img [src]="eleve.image" >



                        </div>
                    </div>
                 </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" [disabled]="disable" (click)="saveEleve()"></button>
            </ng-template>
        </p-dialog>



        <p-dialog [(visible)]="inscriptionDialog" [style]="{width: '500px'}"  [modal]="true" styleClass="p-fluid"  >

            <p-table #dt [value]="inscriptions"  dataKey="id" *ngIf="eleve"

            currentPageReportTemplate="Vue du {first} au {last} sur {totalRecords} " [showCurrentPageReport]="true"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
					 [filterDelay]="0" [globalFilterFields]="['annee.libelle']">
				<ng-template pTemplate="caption">
					<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
						Scolarité

					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>

                        <th >
                            <div class="p-d-flex p-ai-center">

                            Montant

                            </div>
                        </th>

                        <th>
                            <div class="p-d-flex p-ai-center">



                            </div>
                        </th>

                        <th>
                            <div class="p-d-flex p-ai-center">

                           Reste

                            </div>
                        </th>

                        <th>
                            <div class="p-d-flex p-ai-center">



                            </div>
                        </th>


                        <th pSortableColumn="annee.libelle">
                            <div class="p-d-flex p-ai-center">

                           Année scolaire
                            <p-sortIcon field="annee.libelle"></p-sortIcon>
                            <p-columnFilter type="text" field="annee.libelle" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>


					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-inscription>
					<tr class="p-selectable-row" *ngIf="eleve.id==inscription.eleve.id">



                        <td>
                            {{inscription.montantVerse}}
                        </td>

                        <td *ngFor="let item of scolarites">
                            <div *ngIf="item.niveau.id==inscription.niveau.id">
                                {{(item.montantScolarite)-(inscription.montantVerse)}}
                            </div>

                        </td>

                        <td>
                            {{inscription.annee.libelle}}
                        </td>

					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr >
						<td  colspan="6" style="text-align: center;">Pas de scolarités .</td>
					</tr>
				</ng-template>
			</p-table>

        </p-dialog>



        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
