
:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

@media screen and (max-width: 960px) {
    :host ::ng-deep .p-datatable.p-datatable-customers.rowexpand-table .p-datatable-tbody > tr > td:nth-child(6) {
        display: flex;
    }
}

.status-qualified {
    background: #C8E6C9;
    color: #256029;
}

.status-unqualified {
    background: #FFCDD2;
    color: #C63737;
}

.status-negotiation {
    background: #FEEDAF;
    color: #8A5340;
}

.product-image {
	width: 50px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

:host ::ng-deep button {
	margin-right: .25em;
}
