

  <div class="printable-content">
  <div class="printable-area" id="printable-area">
    <table class="header-table">
      <tr>
        <td width="40%" class="title"><img src="assets/layout/images/ic_school.png" alt="logo" height="50px" align="center" /><br /> GEVISCO School</td>
        <td width="60%">
          <table width="100%">
            <tr>
              <td width="50%">Ecole d'enseignement secondaire </td>
              <td width="50%">+228 90 25 50 12</td>
            </tr>
            <tr>
              <td>gevisco@gmail.com</td>
              <td>Lomé,Togo</td>
            </tr>
            <tr>
              <td>www.gevisco.com</td>
              <td>15 BP 1515 Lomé 15, TOGO</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <h1>Bulletin de notes</h1>
    <table class="subheader-table">
      <tr>
        <td width="30%">
          <dt>Bulletin de:</dt>
          <dd>Nom: 
          
         
              </dd>
          <dd>Prénoms: 
         
       
            </dd>
            <dd>Classe: </dd>
          
        </td>
        <td width="30%">
          <dt>Evaluation :</dt>
          <dd>Période:
           
          </dd>
          
          
          <dd></dd>
        </td>
        <td width="40%">
          <dt>Année scolaire:</dt>
          <dd> </dd>
        </td>
      </tr>
    </table>
    <h3>Details du bulletin</h3>
    <table class="detail-table">
      <tr>
        <th width="20%">Matière</th>
        <th width="15%">Coeff</th>
        <th width="15%">Devoir</th>
        <th width="15%">Examen</th>
        <th width="15%">Moyenne</th>
        <th width="20%">Appréciation</th>
      </tr>
           
          <tr class="data-heading">
            
                  
                  <td></td>
                 <td></td>
                  <td></td>
                  <td></td>
           
                  <td></td>
                  <td> </td>
                
            </tr>
           
    </table>
    
    <table class="footer-table">
       
      
          <tr>
            <td>Total </td>
            <td> </td>
          </tr>

          <tr>
            <td width="80%">Moyenne générale: </td>
            <td width="20%"> </td>
          </tr>
      
          <tr>
            <td>Observations: </td>
            <td></td>
          </tr>
         
          <tr >
            <td >Titulaire </td>
            <td> </td>
          </tr>
         
          <tr>
            <td>Responsable </td>
            <td> </td>
          </tr>
          
    </table>
  </div>
</div>

