
    <div class="container">
      <div class="forms-container">

        <p-toast></p-toast>

        <div class="signin-signup">
          <form action="#" class="sign-in-form">
            <h2 class="title">Connexion</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" [(ngModel)]="log.username" name='username'/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" [(ngModel)]="log.password" name='password'/>
            </div>
            <input type="submit" (click)="login()" value="Se connecter" class="btn solid" />


          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">

          </div>
          <img src="../../../assets/img/log.svg" class="image" alt="" />

